name: CI
on:
  push:
    branches: [main, master]
    tags: ["*"]
  pull_request:
jobs:
  test:
    name: Julia ${{ matrix.version }} - ${{ matrix.os }} - ${{ matrix.arch }} - ${{ github.event_name }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        version:
          - '1.0'
          - '1.1'
          - '1.2'
          - '1.3'
          - '1.4'
          - '1.5'
          - '1.6'          
          - '1.7'
          - '1.8'
          - '1.9'
          - '1.10'
          - '1.11'
          - '1.12'
          - '1.13-nightly' # TODO: Change this to '1.13' once Julia 1.13.0 has been released
          - 'nightly'
        os:
          - ubuntu-latest
          - windows-latest
          - macos-latest # Apple Silicon macOS
          - macos-15-intel # Intel macOS
        julia-wordsize:
          - '32'
          - '64'
        exclude:
          # macOS does not support 32-bit builds of Julia
          - os: macos-latest
            julia-wordsize: '32'
          - os: macos-15-intel
            julia-wordsize: '32'
    steps:
      - uses: actions/checkout@v3
      - uses: julia-actions/setup-julia@v1
        with:
          version: ${{ matrix.version }}
          # If `julia-wordsize` is 32, then set the Julia arch to x76
          # If `julia-wordsize` is 64, then set the Julia arch to ${{ runner.arch }}
          # ${{ runner.arch }} automatically expands to the correct 64-bit value, either X64 or ARM64
          arch: ${{ (matrix.julia-wordsize == '32') && 'x86' || runner.arch }}
      - uses: julia-actions/cache@v1
      - uses: julia-actions/julia-buildpkg@v1
      - uses: julia-actions/julia-runtest@v1
      - uses: julia-actions/julia-processcoverage@v1
      - uses: codecov/codecov-action@v3
        with:
          file: lcov.info
